[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.8"

[packages]
aiohttp = "==3.7.4.post0"
amqp = "==5.0.9"
asgiref = "==3.3.4"
async-timeout = "==3.0.1"
attrs = "==21.2.0"
autobahn = "==21.3.1"
Automat = "==20.2.0"
billiard = "==3.6.4.0"
cairocffi = "==1.2.0"
CairoSVG = "==2.5.2"
celery = "==5.2.3"
certifi = "==2021.5.30"
cffi = "==1.14.5"
channels = "==3.0.3"
chardet = "==4.0.0"
click = "==8.0.3"
click-didyoumean = "==0.0.3"
click-plugins = "==1.1.1"
click-repl = "==0.2.0"
constantly = "==15.1.0"
coreapi = "==2.3.3"
coreschema = "==0.0.4"
cryptography = "==3.4.7"
cssselect2 = "==0.4.1"
daphne = "==3.0.2"
defusedxml = "==0.7.1"
Deprecated = "==1.2.12"
dj-database-url = "==0.5.0"
Django = "==3.2.11"
django-appconf = "==1.0.4"
django-cache-url = "==3.2.3"
django-celery-beat = "==2.2.0"
django-celery-email = "==3.0.0"
django-configurations = "==2.2"
django-contrib-comments = "==2.1.0"
django-crossdomainmedia = "==0.0.3"
django-elasticsearch-dsl = "==7.2.0"
django-filter = "==2.4.0"
django-fsm = "==2.7.1"
django-js-asset = "==1.2.2"
django-json-widget = "==1.1.1"
django-leaflet = "==0.28.1"
django-mfa3 = "==0.4.0"
django-mptt = "==0.12.0"
django-oauth-toolkit = "==1.5.0"
django-parler = "==2.3"
django-storages = "==1.11.1"
django-taggit = "==1.4.0"
django-timezone-field = "==4.1.2"
django-treebeard = "==4.5.1"
djangorestframework = "==3.12.4"
djangorestframework-csv = "==2.1.1"
djangorestframework-jsonp = "==1.0.2"
dnspython = "==2.1.0"
elasticsearch = "==7.13.2"
elasticsearch-dsl = "==7.3.0"
et-xmlfile = "==1.1.0"
fido2 = "==0.9.3"
future = "==0.18.2"
geoip2 = "==4.3.0"
html5lib = "==1.1"
hyperlink = "==21.0.0"
icalendar = "==4.0.7"
idna = "==2.10"
incremental = "==21.3.0"
itypes = "==1.2.0"
Jinja2 = "==3.0.1"
jsonschema = "==3.2.0"
jwcrypto = "==0.9.1"
kombu = "==5.2.3"
lxml = "==4.7.1"
Markdown = "==3.3.4"
MarkupSafe = "==2.0.1"
maxminddb = "==2.1.0"
multidict = "==5.1.0"
numpy = "==1.22.1"
oauthlib = "==3.1.1"
opencv-python = "==4.5.1.48"
openpyxl = "==3.0.7"
pandas = "==1.2.4"
"pdfminer.six" = "==20201018"
phonenumbers = "==8.12.25"
pikepdf = "==2.13.0"
Pillow = "==9.0.0"
prompt-toolkit = "==3.0.19"
psycopg2-binary = "==2.9.1"
pyasn1 = "==0.4.8"
pyasn1-modules = "==0.2.8"
pycparser = "==2.20"
pyIsEmail = "==1.3.2"
pyOpenSSL = "==20.0.1"
pyotp = "==2.6.0"
PyPDF2 = "==1.26.0"
pyphen = "==0.10.0"
pyrsistent = "==0.17.3"
python-crontab = "==2.5.1"
python-dateutil = "==2.8.1"
python-magic = "==0.4.24"
python-mimeparse = "==1.6.0"
pytz = "==2021.3"
qrcode = "==7.3.1"
reportlab = "==3.5.67"
requests = "==2.25.1"
service-identity = "==21.1.0"
six = "==1.16.0"
sortedcontainers = "==2.4.0"
sqlparse = "==0.4.2"
tinycss2 = "==1.1.0"
txaio = "==21.2.1"
typing-extensions = "==3.10.0.0"
unicodecsv = "==0.14.1"
uritemplate = "==3.0.1"
urllib3 = "==1.26.5"
vine = "==5.0.0"
Wand = "==0.6.6"
wcwidth = "==0.2.5"
weasyprint = "==52.5"
webencodings = "==0.5.1"
websockets = "==9.1"
wrapt = "==1.12.1"
yarl = "==1.6.3"
"zope.interface" = "==5.4.0"

[dev-packages]
aiohttp = "==3.7.4.post0"
amqp = "==5.0.9"
appdirs = "==1.4.4"
asgiref = "==3.3.4"
async-timeout = "==3.0.1"
attrs = "==21.2.0"
autobahn = "==21.3.1"
Automat = "==20.2.0"
"backports.entry-points-selectable" = "==1.1.0"
billiard = "==3.6.4.0"
black = "==21.7b0"
cairocffi = "==1.2.0"
CairoSVG = "==2.5.2"
celery = "==5.2.3"
certifi = "==2021.5.30"
cffi = "==1.14.5"
cfgv = "==3.3.0"
channels = "==3.0.3"
chardet = "==4.0.0"
click = "==8.0.3"
click-didyoumean = "==0.0.3"
click-plugins = "==1.1.1"
click-repl = "==0.2.0"
constantly = "==15.1.0"
coreapi = "==2.3.3"
coreschema = "==0.0.4"
coverage = "==5.5"
coveralls = "==3.1.0"
cryptography = "==3.4.7"
cssselect2 = "==0.4.1"
daphne = "==3.0.2"
defusedxml = "==0.7.1"
Deprecated = "==1.2.12"
distlib = "==0.3.2"
dj-database-url = "==0.5.0"
Django = "==3.2.11"
django-appconf = "==1.0.4"
django-cache-url = "==3.2.3"
django-celery-beat = "==2.2.0"
django-celery-email = "==3.0.0"
django-configurations = "==2.2"
django-contrib-comments = "==2.1.0"
django-coverage-plugin = "==2.0.0"
django-crossdomainmedia = "==0.0.3"
django-elasticsearch-dsl = "==7.2.0"
django-filter = "==2.4.0"
django-fsm = "==2.7.1"
django-js-asset = "==1.2.2"
django-json-widget = "==1.1.1"
django-leaflet = "==0.28.1"
django-mfa3 = "==0.4.0"
django-mptt = "==0.12.0"
django-oauth-toolkit = "==1.5.0"
django-parler = "==2.3"
django-storages = "==1.11.1"
django-stubs = "==1.8.0"
django-stubs-ext = "==0.2.0"
django-taggit = "==1.4.0"
django-timezone-field = "==4.1.2"
django-treebeard = "==4.5.1"
djangorestframework = "==3.12.4"
djangorestframework-csv = "==2.1.1"
djangorestframework-jsonp = "==1.0.2"
dnspython = "==2.1.0"
docopt = "==0.6.2"
elasticsearch = "==7.13.2"
elasticsearch-dsl = "==7.3.0"
et-xmlfile = "==1.1.0"
factory-boy = "==3.2.0"
Faker = "==8.8.1"
fido2 = "==0.9.3"
filelock = "==3.0.12"
flake8 = "==3.9.2"
flake8-bugbear = "==21.4.3"
future = "==0.18.2"
geoip2 = "==4.3.0"
html5lib = "==1.1"
hyperlink = "==21.0.0"
icalendar = "==4.0.7"
identify = "==2.2.13"
idna = "==2.10"
incremental = "==21.3.0"
isort = "==5.10.1"
itypes = "==1.2.0"
Jinja2 = "==3.0.1"
jsonschema = "==3.2.0"
jwcrypto = "==0.9.1"
kombu = "==5.2.3"
libcst = "==0.3.20"
lxml = "==4.7.1"
Markdown = "==3.3.4"
MarkupSafe = "==2.0.1"
maxminddb = "==2.1.0"
mccabe = "==0.6.1"
MonkeyType = "==21.5.0"
multidict = "==5.1.0"
mypy = "==0.910"
mypy-extensions = "==0.4.3"
nodeenv = "==1.6.0"
numpy = "==1.22.1"
oauthlib = "==3.1.1"
opencv-python = "==4.5.1.48"
openpyxl = "==3.0.7"
pandas = "==1.2.4"
pathspec = "==0.9.0"
pbr = "==5.6.0"
"pdfminer.six" = "==20201018"
phonenumbers = "==8.12.25"
pikepdf = "==2.13.0"
Pillow = "==9.0.0"
platformdirs = "==2.2.0"
pre-commit = "==2.14.0"
prompt-toolkit = "==3.0.19"
psycopg2-binary = "==2.9.1"
pyasn1 = "==0.4.8"
pyasn1-modules = "==0.2.8"
pycodestyle = "==2.7.0"
pycparser = "==2.20"
pyflakes = "==2.3.1"
pyIsEmail = "==1.3.2"
pyOpenSSL = "==20.0.1"
pyotp = "==2.6.0"
PyPDF2 = "==1.26.0"
pyphen = "==0.10.0"
pyrsistent = "==0.17.3"
python-crontab = "==2.5.1"
python-dateutil = "==2.8.1"
python-magic = "==0.4.24"
python-mimeparse = "==1.6.0"
pytz = "==2021.3"
PyYAML = "==5.4.1"
qrcode = "==7.3.1"
regex = "==2021.8.3"
reportlab = "==3.5.67"
requests = "==2.25.1"
selenium = "==3.141.0"
service-identity = "==21.1.0"
six = "==1.16.0"
sortedcontainers = "==2.4.0"
sqlparse = "==0.4.2"
tblib = "==1.7.0"
text-unidecode = "==1.3"
tinycss2 = "==1.1.0"
toml = "==0.10.2"
tomli = "==1.2.1"
txaio = "==21.2.1"
types-Markdown = "==3.3.2"
types-python-dateutil = "==0.1.6"
types-pytz = "==2021.1.2"
types-requests = "==2.25.6"
typing-extensions = "==3.10.0.0"
typing-inspect = "==0.7.1"
unicodecsv = "==0.14.1"
uritemplate = "==3.0.1"
urllib3 = "==1.26.5"
vine = "==5.0.0"
virtualenv = "==20.7.2"
Wand = "==0.6.6"
wcwidth = "==0.2.5"
weasyprint = "==52.5"
webencodings = "==0.5.1"
websockets = "==9.1"
wrapt = "==1.12.1"
yarl = "==1.6.3"
"zope.interface" = "==5.4.0"

[packages.django-filingcabinet]
git = "https://github.com/okfde/django-filingcabinet.git"
editable = true
ref = "master"

[packages.camelot-py]
extras = [ "cv",]
version = "==0.9.0"

[packages.Twisted]
extras = [ "tls",]
version = "==21.2.0"

[dev-packages.django-filingcabinet]
git = "https://github.com/okfde/django-filingcabinet.git"
editable = true
ref = "master"

[dev-packages.camelot-py]
extras = [ "cv",]
version = "==0.9.0"

[dev-packages.Twisted]
extras = [ "tls",]
version = "==21.2.0"
